beautifulsoup4==4.12.3
email_validator==2.2.0
feedgen==1.0.0
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
mutagen==1.47.0
pillow==11.0.0
pytz==2024.2
requests==2.32.3
SQLAlchemy==2.0.36
Werkzeug==3.0.6
WTForms==3.2.1
yt-dlp==2024.10.22
