{% extends "base.html" %}

{% block content %}
<div class="container p-3 my-3 bg-dark text-muted position-absolute top-50 start-50 translate-middle">
  <h1 class="text-left">
      Добро пожаловать на наш сайт!
  </h1>
  <h4 class="text-left">Здесь вы сможете превратить свой плейлист на YouTube в полноценный подкаст.</h4>
    <h4 class="text-left">Мы предлагаем вам пошаговую инструкцию:</h4>
      <ol class="p">
        <li>Создайте плейлист в Творческой студии YouTube.</li>
        <li>Введите название и описание плейлиста.</li>
        <li>Установите открытый или ограниченный доступ.</li>
        <li>Добавьте в плейлист ролики которые вы хотите прослушать в виде подкаста.</li>
        <li>Зарегистрируйтесь на нашем сайте.</li>
        <li>Добавьте в открывшуюся форму ссылку на ваш плейлист</li>
        <li>Через некоторое время вам будет доступна ссылка на RSS фид подкаста,
            которую вы сможете добавить в iTunes или любое другое приложение
            для прослушивания подкастов</li>
        <li>После этого вы сможете добавлять новые выпуски в созданный плейлист
            на Youtube и они будут появляться в вашем приложении для прослушивания подкастов</li>
      </ol>
</div>
{% endblock %}
