{% extends "base.html" %}

{% block content %}
<br />
{% include('messages.html') %}
<div class="m-5 p-1">
    <div class="form-floating mb-3">
        <form action="{{ url_for('process_download') }}" method="POST">
                {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.feed_link.label }}
                {{ form.feed_link() }}
            </div>
            <br>
            <div class="form-group">
                {{ form.language.label }}
                {{ form.language() }}
            </div>
            <br>
            <div class="form-group">
              {{ form.submit }}
            </div>
        </form>
    </div>
</div>

<div class="m-5 p-1">
<h2 class="text">Мои плейлисты</h2>
</div>


{% if playlists %}
    {% for playlist in playlists %}
      {% set playlist = playlists[loop.index-1] %}
      {% set rss_link = rss_links[loop.index-1] %}
    <div class="m-5 p-1">
      <div class="p-3 bg-info bg-opacity-10 border border-secondary border-start-0 rounded-end">
        <div class="text-center">
        <p><a href="#" class="h4 link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ playlist.feed_title }}</a></p>
        </div>
          <div class="container-fluid">
            <div class="d-flex align-items-stretch">
              <div class="span2">
                <img src="static/covers/{{ playlist.feed_image }}" class="img-thumbnail" style="width: 500px;" alt="{{ playlist.feed_title }}">
              </div>
                  <div class="span10">
                    <p class="feed_description">{{ playlist.feed_description|safe }}</p>
                        <div class="m-5 p-1 float-end">
                          <p ><a href="{{ playlist.feed_link }}">Смотреть на YouTube</a>
                          <a href="static/rss/{{ rss_link }}" class="p-3 link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Скопировать RSS</a>
                          <a href="#" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Удалить плейлист</a></p>
                        </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    {% endfor %}
{% else %}
    <div class="alert alert-warning d-flex align-items-center m-5 p-1" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" style="width: 100px;" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
        <div>
          Вы пока не загрузили ни одного плейлиста
        </div>
    </div>
{% endif %}


{% endblock %}
