{% extends "base.html" %}

{% block content %}

<div class="m-3 p-1">
  <div class="col-10">
    <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Вставьте ссылку для скачивания</label>
</div>

  <div class="btn-group">
  <button type="button" class="btn btn-outline-light me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Выбрать Язык
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Ru</a></li>
    <li><a class="dropdown-item" href="#">En</a></li>
    <li><a class="dropdown-item" href="#">Fr</a></li>
    <li><a class="dropdown-item" href="#">De</a></li>
    <li><a class="dropdown-item" href="#">It</a></li>
    <li><a class="dropdown-item" href="#">Es</a></li>
    <li><hr class="dropdown-divider"></li>
  </ul>
  </div>
  <button type="button" class="btn btn-outline-warning">Загрузить плейлист</button>
  </div>
</div>

<div class="m-3 p-5">
<h2 class="text">Мои подкасты</h2>
  <div class="p-3 bg-info bg-opacity-10 border border-secondary border-start-0 rounded-end">
    <p><a href="#" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><h4>Плейлист</h4></a></p>
    <img src="static/covers/PLvO-3MXl8QMi98tFRoR0sqdVqOdQYX-9f.jpg" class="img-thumbnail" style="width: 200px; height: 200px;" alt="Specific size image">
    <div class="btn-group d-grid gap-2 col-2 mx-auto">
  <button type="button" class="btn btn-outline-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Действие
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Скопировать RSS</a></li>
    <li><a class="dropdown-item" href="#">Удалить плейлист</a></li>
    <li><hr class="dropdown-divider"></li>
  </ul>
  </div>
  </div>
</div>

<div class="m-3 p-5">
  <div class="p-3 bg-info bg-opacity-10 border border-secondary border-start-0 rounded-end">
  <p><a href="#" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><h4>Плейлист</h4></a></p>
       <img src="static/covers/PLvO-3MXl8QMj1oztl-xhl-0A42SwoTvMg.jpg" class="img-thumbnail" style="width: 200px; height: 200px;" alt="Specific size image">
    <div class="btn-group d-grid gap-2 col-2 mx-auto">
  <button type="button" class="btn btn-outline-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Действие
  </button>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Скопировать RSS</a></li>
    <li><a class="dropdown-item" href="#">Удалить плейлист</a></li>
    <li><hr class="dropdown-divider"></li>
    </ul>
  </div>
  </div>
</div>







{% endblock %}





