<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">YouTubeToAudioPodcast</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {% if current_user.is_authenticated %}
              <li class="nav-item">
                  <span class="nav-link"><strong>{{ current_user.username }}</strong></span>
              </li>
              {% if current_user.is_admin %}
              <li class="nav-item">
                  <a href="{{ url_for('admin_index') }}" class="nav-link">Админка</a>
              </li>
                {% endif %}
              <li class="nav-item">
                    <a class="btn btn-outline-light me-2" href="{{ url_for('logout') }}" role="button">ВЫЙТИ</a>
              </li>
          {% else %}
              <li class="nav-item">
                    <a class="btn btn-outline-light me-2" href="{{ url_for('login') }}" role="button">ВОЙТИ</a>
              </li>
              <li class="nav-item">
                    <a class="btn btn-warning" href="{{ url_for('register') }}" role="button">РЕГИСТРАЦИЯ</a>
              </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>




