{% extends "base.html" %}

{% block content %}
{% include('messages.html') %}
<div class="m-5 p-1">
<h2 class="text">YoutubeToRSSforTests</h2>
    <p><a href="#" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Переименовать</a></p>
</div>

    <div class="span2 m-5 p-1">
        <img src="static/img/SrSl6T1My00.jpg.jpg" class="rounded float-start" style="width: 400px;" alt="...">
    </div>
<div class="span10 m-3 p-1">
    <h3 class="text-center">Episode #1</h3>
    <h5 class="text">Welcome to Python Bytes. Python headlines delivered directly to your earbuds.
        In this first episode we cover PyData videos, safety-db project, and more!</h5>
</div>
    <div class="text-center">
    <button type="button" class="btn btn-outline-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
            <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"></path>
        </svg>Воспроизвести
    </button>
    </div>


{% endblock %}

